@keyframes gradientBG {
  0% { background-color: #f0f0f0; }
  50% { background-color: #e0e0e0; }
  100% { background-color: #f0f0f0; }
}

@font-face {
  font-family: 'Poppins', 'Chillax';
  src: url('../public/fonts/Poppins-Regular.ttf') format('truetype');
  src: url('../public/fonts/Chillax-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins', 'Chillax';
  src: url('../public/fonts/Poppins-Bold.ttf') format('truetype');
  src: url('../public/fonts/Chillax-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Chillax', sans-serif;
  background: #b4afaf;
  color: #ffffff;
  animation: gradientBG 10s infinite;
}