@keyframes gradientBG {
  0% { background-color: #f0f0f0; }
  50% { background-color: #e0e0e0; }
  100% { background-color: #f0f0f0; }
}

@font-face {
  font-family: 'Poppins', 'Chillax';
  src: url('../public/fonts/Poppins-Regular.ttf') format('truetype');
  src: url('../public/fonts/Chillax-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins', 'Chillax';
  src: url('../public/fonts/Poppins-Bold.ttf') format('truetype');
  src: url('../public/fonts/Chillax-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.main{
  .header{
    display: flex;
    gap: 15px;
    padding: 40px;
    height: 30px;
    position: fixed;
    left: 0px;
    top: 0px;
    a{
      text-decoration: none;
      color: black;
      &:hover{
        text-decoration: none;
        color: black;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .page{
      padding: 40px;
      min-height: calc(100vh - 80px);
    }
    h1{
      margin-top: 50px;
    }
    .body{
      display: flex;
      gap: 40px;
    }
  }
}
/* Curve component styles */
.curve {
  position: relative;
  overflow: hidden;
}

.curve svg,
.curve .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh + 600px);
  pointer-events: none;
}

.curve .background {
  background-color: black;
  transition: opacity 0s linear 0.1s;
}

.curve .route {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  font-size: 46px;
  z-index: 3;
  transform: translateX(-50%);
  text-align: center;
}

body {
  font-family: 'Chillax', sans-serif;
  background: #b4afaf;
  color: #ffffff;
  animation: gradientBG 10s infinite;
}