@font-face {
  font-family: "Rosseta";
  src: url("/src/assets/fonts/Rosseta.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wremena";
  src: url("/src/assets/fonts/Wremena_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
